<div class="card">
    <div class="card-content">
        <span class="card-title">Add message</span>
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="input-field col s10">
                    <input type="text" placeholder="Enter message" [(ngModel)]="message.text" name="text">                    
                </div>
                <input type="submit" value="Submit" class="btn">
                Debugging data: {{messagesUid}}
            </div>
        </form>
    </div>
</div>
