<div *ngIf="messages?.length > 0; else noMessages ">          
    <ul *ngFor="let message of messages" class="collection"> 
        <li class="collection-item" [class.right-align]="isDisplayAsOwner(message)">                                
            <!--<strong>{{message.ownerUid}}</strong>-->
            {{message.text}}                
            <a href="#!" class="secondary-content">                                        
                <i *ngIf="!(editState && messageToEdit.id == message.id)" (click)="setEditState(message)" class="fa fa-pencil fa-fw"></i>                                                        
                <i *ngIf="editState && messageToEdit.id == message.id" (click)="clearEditState()" class="fa fa-compress fa-fw"></i>                                        
                <i *ngIf="!(editState && messageToEdit.id == message.id)" (click)="deleteMessage($event, message)" class="fa fa-trash-o fa-fw"></i>                            
            </a>            

            <!--<div *ngIf="editState && messageToEdit.id == message.id">
                <form (ngSubmit)="updateMessage(message)">
                    <div class="row valign-wrapper center-align">
                        <div class="col s8">                                
                            <div class="input-field">                            
                                <input type="text" placeholder="Enter message" [(ngModel)]="message.text" name="text">                            
                            </div>                            
                        </div>                        
                        <div class="col s2">                                                            
                            <input type="submit" value="Edit" class="btn green">                            
                        </div>
                        <div class="col s2">
                            <button (click)="deleteMessage($event, message)" class="btn red">Delete</button>                            
                        </div>                                                                                                                            
                    </div>
                </form>        
            </div>-->
        </li>        
    </ul>    
</div>    

<ng-template #noMessages>    
    <h4>No messages</h4>
</ng-template>
