<div class="card">
    <div class="card-content">
        <span class="card-title">User registration</span>
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Enter email">                    
                    <label>Email</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" placeholder="Enter first name">                    
                    <label>User first name</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" placeholder="Enter last name">                    
                    <label>User last name</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" placeholder="Enter password">                    
                    <label>User password</label>
                </div>                
            </div>
            <div class="row center-align">
                <input type="submit" value="Register user" class="btn">        
            </div>
        </form>
    </div>
</div>

