<div class="card">
    <div class="card-content">
        <span class="card-title">User registration</span>
        <form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="row">
                <div class="input-field col s12">
                    <input type="email" placeholder="Enter email" formControlName="email">                    
                    <label>Email</label>
                    <div *ngIf="_email.invalid && (_email.touched || _email.dirty)">
                        <span *ngIf="_email.errors?.required">Field is required</span>
                        <span *ngIf="_email.errors?.email">Wrong email address</span>                      
                    </div>
                </div>
                <div class="input-field col s6">
                    <input type="text" placeholder="Enter first name" formControlName="firstname">                    
                    <label>User first name</label>
                    <div *ngIf="_firstname.invalid && (_firstname.touched || _firstname.dirty)">
                        <span *ngIf="_firstname.errors?.required">Field is required</span>                        
                    </div>
                </div>
                <div class="input-field col s6">
                    <input type="text" placeholder="Enter last name" formControlName="lastname">                    
                    <label>User last name</label>
                    <div *ngIf="_lastname.invalid && (_lastname.touched || _lastname.dirty)">
                        <span *ngIf="_lastname.errors?.required">Field is required</span>                        
                    </div>
                </div>
                <div class="input-field col s12">
                    <input type="password" placeholder="Enter password" formControlName="password">                    
                    <label>User password</label>
                    <div *ngIf="_password.invalid && (_password.touched || _password.dirty)">
                        <span *ngIf="_password.errors?.required">Field is required</span>
                        <span *ngIf="_password.errors?.min">Password must be great than 8 symbols</span>                      
                    </div>
                </div>
                <div>
                    <strong>{{errorMessage}}</strong>
                </div>
            </div>
            <div class="row center-align">
                <input type="submit" value="Register user" class="btn">        
            </div>
            <div class="row center-align">
                <div class="col-12">
                    Already Having an Account? 
                    <a href="/login">Login in</a> 
                </div>                
            </div>
        </form>
    </div>
</div>

