<!--<p *ngIf="user">Logging i as {{user?.email}} - {{user?.displayName}} - {{user?.uid}}</p>

<div class="container">
    <div class="row">
        <button (click)="register()" *ngIf="!user" class="btn red">Register</button>
        <button (click)="login()" *ngIf="!user" class="btn red">Login</button>
        <button (click)="logout()" *ngIf="user" class="btn red">Logout</button>                            
    </div>
</div>      -->                                                                                                                      

<div class="row">
    <div class="col s12 m4 l3">
        <app-room-conversation></app-room-conversation>
        <app-direct-conversation (activeChannelUid)="onMessageChannelChanged($event)"></app-direct-conversation>
    </div>
    <div class="col s12 m8 l9"> 
        <app-display-conversation [channelUid]="activeMessagesUid"></app-display-conversation>
    </div>
</div>
<!--
<div class="row">
    <div class="col s12">
        <strong>{{activeOwnerUid}}</strong> + <strong>{{activeMessagesUid}}</strong> 
    </div>
</div>
-->
